<div class="about">
  <section class="about-child">
    <h1>About Us</h1>
  </section>
  <section class="about-child-2">
    <div>
      <p id="para-1">Run by one man</p>
      <p id="para-2">NOR AZLAN IDRIS</P>
      <p id="para-1">Built From RUBY ON RAILS</p>
    </div>
  </section>
</div>
