.header {
  font-weight: 700;

  .navbar {
    background-color: #cc003d;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
  }
  .navbar .navbar-brand {
    color: #ffffff;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #e6e6e6;
    background-color: transparent;
  }
  .navbar .navbar-text {
    color: #ffffff;
  }
  .navbar .navbar-nav > li > a {
    color: #ffffff;
  }
  .navbar .navbar-nav > li > a:hover,
  .navbar .navbar-nav > li > a:focus {
    color: #99cc53;
    background-color: transparent;
  }
  .navbar .navbar-nav > .active > a,
  .navbar .navbar-nav > .active > a:hover,
  .navbar .navbar-nav > .active > a:focus {
    color: #99cc53;
    background-color: #ab0033;
  }
  .navbar .navbar-nav > .disabled > a,
  .navbar .navbar-nav > .disabled > a:hover,
  .navbar .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
  .navbar .navbar-toggle {
    border-color: #dddddd;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #dddddd;
  }
  .navbar .navbar-toggle .icon-bar {
    background-color: #cccccc;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #a80032;
  }
  .navbar .navbar-nav > .dropdown > a:hover .caret,
  .navbar .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #99cc53;
    border-bottom-color: #99cc53;
  }
  .navbar .navbar-nav > .open > a,
  .navbar .navbar-nav > .open > a:hover,
  .navbar .navbar-nav > .open > a:focus {
    background-color: #ab0033;
    color: #99cc53;
  }
  .navbar .navbar-nav > .open > a .caret,
  .navbar .navbar-nav > .open > a:hover .caret,
  .navbar .navbar-nav > .open > a:focus .caret {
    border-top-color: #99cc53;
    border-bottom-color: #99cc53;
  }
  .navbar .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
  }
  @media (max-width: 767) {
    .navbar .navbar-nav .open .dropdown-menu > li > a {
      color: #ffffff;
    }
    .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #99cc53;
      background-color: transparent;
    }
    .navbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #99cc53;
      background-color: #ab0033;
    }
    .navbar .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #cccccc;
      background-color: transparent;
    }
  }
  .navbar .navbar-link {
    color: #ffffff;
  }
  .navbar .navbar-link:hover {
    color: #99cc53;
  }

}
