<h1><%= @topic.title %></h1>
<p><%= @topic.description %></p>
<%= link_to "Edit", edit_topic_path(@topic), class: "btn btn-success" %>
<%= link_to "Delete", topic_path(@topic), method: :delete, data: {confirm: "Delete?"}, class: "btn btn-danger" %>
