<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<%= link_to "Edit", edit_post_path(@post), class: "btn btn-success" %>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Delete?"}, class: "btn btn-danger" %>
<h2></h2>
